* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.content-wrapper {
max-width: 1256px;
margin: 0 auto;
padding: 0px 20px;
}

h1,
h2 {
font-weight: 900;
}

/* typography */
h1 {
color: #62B2C6;
font-size: 120px;
text-align: left;
line-height: 1.6;
text-shadow: -1px 3px 0px var(--white);
font-family: 'Bello-pro';}

h2 {
font-size: 32px;
color: #ffffff;
}

h3 {
font-size: 42px;
color: #231F20;
font-weight: 900;
letter-spacing: 0.5px;
line-height: 1.2;
}
p{
font-family: 'Work Sans' ,Regular;
}

/* p {
font-size: 16px;
} */

/* button{
padding: 10px 25px;
} */
/* start */
.banner {
background-image: url(lowandslow/dish.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #E4E4E4;


}

.content-wrapper {
max-width: 1280px;
margin: 0 auto;
padding: 0px 20px;

}

.banner1 {

padding: 184px 0px 130px 0px;

}

.banner1 .b2 {
color: #62B2C6;
font-size: 120px;
text-align: left;
line-height: 1.6;
text-shadow: -1px 3px 0px var(--white);
font-family: 'Dancing Script', cursive;


}

.banner1 .b3 button {

padding: 11.5px 55.4px;
color: #C15D26;
font-size: 16px;
}

/* end */
.align-center {
text-align: center;
}
/* end */
.main-text {
background-color: #E4E4E4;
/* height: 500px; */


}

.para {
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-wrap: wrap;
flex-direction: row;
margin-top: 0;
padding-top: 46px;
padding-bottom: 54px;

}

.txt-1 {
/* margin: 50px 0px; */
padding-top: 40px;
font-size: 42px;
color: #231F20;
line-height: 1.6;
letter-spacing: 0.5px;
font-weight: bold;
}

.main-section {
max-width: 830px;
margin: 0 auto;
}

.p1 {
flex-basis: 41%;
margin-right: 15%;
}

.p1:last-child {
margin-right: 0%;
}

p {
font-size: 18px;
font-weight: 400;
color: #231F20;
line-height: 1.8;
letter-spacing: .5px;
font-family: 'Work Sans', Regular;

}

a {
font-size: 23px;
color: #C15D26;
text-align: left;
font-weight: 900;
line-height: 1.6
}

/* end */

/* group start */
.group {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 20px;
flex-wrap: wrap;
}

.common {
padding: 0px 20px 100px;
}

.Events1 {
background-color: #1F2D60;

flex-basis: 41%;
font-size: 20px;
color: #ffffff;
text-align: center;
}

.Events2 {
background-color: #7A0306;
flex-basis: 58%;
margin-left: 1%;
color: #ffffff;
font-size: 20px;
text-align: center;

}

.Events1 img {
margin-top: 40px;
}

.Events1 h3 {
font-size: 52px;
line-height: 1.6;
letter-spacing: .5px;
font-weight: 900;
color: #ffffff;
font-family: 'Bello-pro';
}

.Events1 p {
font-size: 18px;
line-height: 1.6;
letter-spacing: .5px;
text-align: center;
font-weight: 500;

color: #E4E4E4
}
.Events1 a{
color: #E4E4E4;
line-height: 1.6;
border-bottom: 2px solid #C15D26 ;
border-width: 5px 20px;
text-decoration: none;
padding-bottom: 10px;
}
.Events2 h3 {
font-size: 52px;
color: #ffffff;
line-height: 1.6;
letter-spacing: .5px;
font-weight: 900;
font-family: 'Bello-pro';
}

.Events2 img {
margin-top: 40px;
}

.Events2 p {
font-size: 18px;
line-height: 1.6;
letter-spacing: .5px;
font-weight: 900;
margin-top: 30px;
color: #E4E4E4
}
.Events2 button{
background-color: #FFFFFF;
margin-top: 47.5px;
padding: 10px 50px 10px 50px;
border-radius: 3px;
border: none;
color: #C15D26;
font-size: 16px;
font-family: 'Work Sans', sans-serif;
font-weight: 600;
transition: 0.3s all;
}
.Events2 button:hover{
background-color: #C15D26;
}
/* end */
.our-food
{
    max-width: 1007px;
    margin: 0 auto;
}
.our-food h5
{
    margin-bottom: 45px;
}
.food-cont p
{
    color: var(--black) !important;
    line-height: 1.65;
    text-align: center;
}
.food-cont
{
    max-width: 834px;
    margin: 0px auto 36px;
}
.food-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-cont-2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.food-cont-2
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 104.41px;
    margin-bottom: 94.6px;
    align-items: center;
}
.bottle-cont
{
    background-repeat: no-repeat;
    flex-basis: 45%;
    background-position: top;
    margin-right: 136.66px;
    position: relative;
    z-index: 1;
}
.bottle-img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 386.34px;
    max-height: 414.22px;
    z-index: -1;
}
.bottle-cont h5
{
    font-size: 60.74px;
    line-height: 1.19;
    color: var(--navy);
}
.f-cont-card
{
    flex-basis: 39%;
}
.f-cont-card h5{
    text-align: left;
    margin-bottom: 25px;
}
.f-cont-card p{
    
    line-height: 28px;
}
.food-button
{
    margin-top: 23px;
}
.food-button a
{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
    line-height: 19px;
}
.f-contxt-heading5 h5
{
    font-family: filson soft,sans-serif;
    max-width: 366.34px;
    margin-right: auto;
    margin-left: auto;
}


.our-food h3{

font-family: 'Bello-pro';
font-size: 48px;
color: #7A0306;
text-align: center;
line-height: 1.2;
letter-spacing: .5px;
font-weight: bold;
border: #ffffff;


}
.our-food h4{
font-size: 48px;
color: #231F20;
line-height: 1.6;
letter-spacing: .5px;
font-weight: bold;
font-family: 'Filson Soft';
text-align: center;


}
.our-food p{

font-size:18px;
color: #000;
text-align: center;
font-family: 'Work Sans',Regular;
line-height: 28px;
letter-spacing: .5px;
}


.food2  p{
text-align: center;
display: block;
font-size: 16px;
margin-top: 35px;
color: #000;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.food2 p{
text-align: center;
font-size: 16px;
margin-top: 35px;
color: #000;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



.food5 {
flex-basis: 53%;
}
.food6 {
max-width: 480px;
}
.food3  h3{

width: 100%;
min-height: 326px;
min-height: 100%;
color: #0F2949;
font-size: 62px;
text-align: center;
}
/* .food6{
max-width: 520px;
width: 100%;
} */

.food5 img{
text-align: left;
}
.f-contxt h4{
font-size: 48px;
font-weight: bold;
color: #231F20;
font-family: 'Filson Soft';
padding-top: 25px;
padding-bottom: 25px;
}
.f-contxt p{
font-size: 18px;
color: #0F2949;
align-content: center;
letter-spacing: .5px;
line-height: 1.9;
font-weight: 500;
font-family: 'Work Sans';
}
.f-contxt button{
padding: 7PX 40PX ;
margin-top: 56px;
color:#ffffff;
background-color:rgb(209, 124, 13);
font-size: 18px;
line-height: 1.6;
font-weight: 500;
letter-spacing: .5px;
border: 1px solid rgb(245, 141, 6);



}
.food6 button:hover{
background-color: #C15D26;
}

@media (min-width :768px) and (max-width:1280px) {
.banner1 {
padding: 184px 0px 130px 80px;
}
}



/*  */
@media(min-width: 768px)and (max-width:1024px) {
h1 {
font-size: 40px;
}

.banner1 {
padding: 120px 0px 120px 0px;
}

.section-padding {
padding: 80px 0px;
}

.para .p1:nth-child(2n+2) {
margin-right: 0px;
}

.p1 {
flex-basis: 47%;
margin-right: 6%;
margin-bottom: 25px;
}
.group{
flex-direction: column;
margin-bottom: 30px;
}

.food3{
display: block;
padding-top: 20px;
text-align: center;
}
.food3 .food4{
background-image: url(./Path\ 7804.svg);
width: 100%;
height: 100%;
background-repeat: no-repeat;
flex-basis: 50%;
}
.Events2{
margin-left: 0%;
}

}

/* end */

/*  */
@media (max-width: 767px)  {
h1 {
font-size: 32px;
}

h2 {
font-size: 20px;
}

.banner1 {
padding: 80px 0px;
}

.banner1 .b3 button {
padding: 10px 20px;
}

p {
font-size: 16px;
}

.section-padding {
padding: 40px 0px;
}

.p1 {
flex-basis: 100%;
margin-bottom: 25px;
}
.group{
display: block;
margin-top:0px;

}
.Events1{

}
.Events2{
margin-left: 0%;
}
.food5 h4{
font-size: 20px;
}
.food3{
display: block;
padding-top: 20px;
text-align: center;
}

.food3 .food4{
max-width: unset;
min-height:350px;
}
.food3 .food4 h3{
max-width: unset;

}
}


