*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    

}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .container{
    width: 100%;
  }
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding:  0px 20px;
    
}
#main_menu_section{
height: 80px;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
#main_menu_section article{
    /* width: 1600px; */
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
#main_menu_section article .section{
    flex-basis: 50%;
    position: absolute;
    right: 0;
}
#main_menu_navbar article .section figure{
    width: 180px;
    height: 180px;
    margin-left: 100px;
}
#main_menu_navbar article .section figure img{
    width: 100%;
    height: 100%;
}
#main_menu_section article .section button{
     
    padding: 7PX 40PX ;
    margin: 5px;
    color: burlywood;
    background-color: #ffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid burlywood;
 
}
#main_menu_section article .section button:hover{
    background-color: burlywood;
    color: #ffff;

}
#main_menu_navbar {
    /* width: 100%; */
    height: 60px;

}
#main_menu_navbar article{
    /* width: 100%; */
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#main_menu_navbar article aside nav ul{
    display: flex;
     align-items: center;
     justify-content: space-between;
     position: absolute;
     right: 0;
     margin-right: 350px;
     margin-bottom: 60px;

}
#main_menu_navbar article aside nav ul li {
    list-style-type: none;
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    color: #000;
}
#main_menu_navbar article aside nav ul li:hover {
    border-bottom: 2px solid burlywood;

}
.main_menu_page {
    width: 100%;
    margin-top: 20px;
    
}
.main_menu_page {
    background-image: url(./dish.png);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;
}
.page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 50%;
    margin-left: 90px;


    
}
.page h4{
    line-height: 1.6px;
    font-size: 27px;
    margin-top: 250px;
    color: #ffff;
    letter-spacing: .5px;
    font-weight: 500;
}
.page h1{
    font-family: cursive;
    font-size: 120px;
    border: #F1F2F2;
    color: #62B2C6 ;
    border: #F1F2F2 ;
    size: 1pt;
    box-shadow: 0x 0px 13px gray;

}
.page button{
    padding: 7PX 40PX ;
    margin: 5px;
    color: rgb(226, 79, 79);
    background-color: #ffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid burlywood;


}
.page button:hover{
    background: rgb(240, 93, 93);
    color: #ffff;
}
#main_menu_content{
    width: 100%;
    height: 500px;
    background-color: #F1F2F2;
}
#main_menu_content article .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;

}
#main_menu_content article .content1 h1{
    font-size: 42px;
    line-height: 1.6;
    letter-spacing: 3px;
    color: #000;
    align-items: center;
    font-family: Work Sans;
    font-weight: 800;
    margin-top: 30px;

}
#main_menu_content .content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#main_menu_content .content .p1{
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: #000;
    overflow: auto;
    margin: 60px;
    width: 350px;
    font-family: Work Sans;

}
#main_menu_content .content .p1 h4{
    font-size: 19px;
    color: #C15D26;
    opacity: 100%;
    font-family: Work Sans;
    margin-top: 18px;
    border-width: 3px;
    font-weight: 800;

}
#main_menu_content .content .p1 hr{
    width: 100px;
    color: #C15D26;
}
.group{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: center; */
    margin-right: auto;
    margin-left: auto;
}
.group {
    flex-basis:50%;
}
.g1{
    width: 460pt;
    height: 412pt;
    background-color:#1F2D60 ;
    text-align: center;
}
.g1 img{
    width: 86pt;
    height: 65pt;
    color: #F1F2F2;
    opacity: 100%;
    margin-top: 100px;
}
.g1 h4{ 
    height: 83pt;
    font-family: cursive;
    color: #F1F2F2;
    font-size: 52px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: center;

    

}
.g1 p{
    font-size: 18px;
    font-family: cursive;
    color: #F1F2F2;
    height: 17pt;
}
.g1 h5{
    font-size: 16px;
    height: 19pt;
    align-items: center;
    color: #F1F2F2;
    margin-top: 30px;
}
.g2{
    width: 950px;
    height: 412pt;
    background-color: #7A0306;
    text-align: center;
}
.g2 img{
    width: 86pt;
    height: 65pt;
    color: #F1F2F2;
    opacity: 100%;
    margin-top: 100px;


}
.g2 h4{
    height: 83pt;
    font-family: cursive;
    color: #F1F2F2;
    font-size: 52px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    text-align: center;


}
.g2 p{
    font-size: 18px;
    font-family: Filson Soft;
    color: #F1F2F2;
    height: 17pt;

}
.g2 button{
    padding: 7PX 40PX ;
    margin: 5px;
    color: #C15D26;
    background-color: #ffff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid burlywood;
    margin-top: 36px;
    height: 42px;
    width: 228.88px;


}
.g2 button:hover{
    border: 2px solid blue;
}
/* end */
.food{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
 .food1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food1 h1{
    width: 173pt;
    height: 77pt;
    font-family: cursive;
    font-size: 48px;
    color: #7A0306;
    letter-spacing: 77;
    border: #ffffff;
    

}
.food1 h2{
    width: 500pt;
    height: 46pt;
    font-family: cursive;
    font-size: 48px;
    color: #000;
    font-weight: bold;

}
.food1 p{
    width: 830pt;
    height: 111pt;
    font-size: 18pt;
    color: #000;
    text-align: center;
    font-family: cursive;
    margin-top: 19px;
}
.food2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.food2 img{
    width: 180pt;
    height: 180pt;
    display: flex;
    align-items: center;
    justify-content: center;

}
.food2 .f2 p{
    text-align: center;
    font-size: 16px;
    color: #000;
    width: 200pt;
    height: 20pt;
    font-weight: bold;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.food3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 300px;
    margin-top: 40px;
    gap: 60px;
}
.food3 .food4{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./Path\ 7804.svg);
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    z-index: 70px;
    flex-basis: 50%;


}
.food3 .food4 h3{
    width: 390px;
    height: 320px;
    color: #0F2949;
    font-size: 62px;
}
.food5 img{
    width: 200pt;
    height: 90pt;
    color: #0F2949;
    margin-bottom: 40px;
}
.food5 h1{
    font-size: 48px;
    font-weight: 500;
    color: #0F2949;
    width: 500pt;
    font-family: cursive;
}
.food5 p{
    font-size: 18px;
    color: #0F2949;
    align-content: center;
    width: 470pt;
    letter-spacing: .5px;
    line-height: 1.6;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.food5 button{
    padding: 7PX 40PX ;
    margin: 5px;
    color:#ffffff;
    background-color:rgb(209, 124, 13);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid rgb(245, 141, 6);
    margin-top: 10px;


}
.food5 button:hover{
    background-color: #C15D26;
}
.image{
    background-image: url(./barbewue.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: cover;

}
.image2{
    height: 320px;
    background-color: rgba(54, 50, 50, 0.74);
    opacity: 1;
    width: 490px;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 150px;
    left: 180px;
    margin-top: 30px;

    

}
.image2:hover{
    border: 2px solid blue;
}
.image2 h1{
    font-size: 55px;
    color: rgb(238, 27, 27);
    letter-spacing: .5px;
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.image2 h2{

    font-size: 20px;
    color: rgb(238, 231, 231);
    letter-spacing: .5px;
    font-weight: 500;
    font-family: cursive;

}
.image2 p{
    font-size: 18px;
    font-family: sans-serif;
    color: #F1F2F2;
    margin: 10px;


}
.image2 button{
    padding: 7PX 40PX ;
    margin: 5px;
    color:#ffffff;
    background-color:rgb(209, 124, 13);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid rgb(245, 141, 6);
    margin-top: 10px;



}
.image2 button:hover{
    background-color: #C15D26;
    border: 1px solid blue;
}
/* end */
.main_menu_location{
    /* width: 1280px; */
    margin-top: 30px;
    color: #F1F2F2;
    margin-left: 139px;

}
.main_menu_location .loc1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.loc1 h1{
    font-size: 77px;
    color: #7A0306;
    height: 77pt;
    line-height: 100px;
    text-align: center;

    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: 700;
    letter-spacing: 0.5px   
    
     
     
}
.loc1 h3{
    font-size: 77px;
    color: #7A0306;
    height: 77pt;
    /* font-family: 'Mrs Saint Delafield', cursive; */
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.5px ;
    text-align: center;
   

}
.loc1 p{
    font-size: 18px;
    text-align: center;
    color: #0F2949;
    align-content: center;
    width: 765px;
    height: 111px;
    letter-spacing: .5px;
    line-height: 1.9;
    font-weight: bold;
    margin-top: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.loc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 98px;
}
.loc .loc2 img{
    width: 69px;
    height: 80.83px;
    color: #000;
    transform: rotate(-30deg);


}
.loc .loc2 h1{
    width: 226px;
    height: 46px;
    font-size: 48px;
    color: #000;
    margin-top: 20px;
    
}
.loc2 p{
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    color: #000;
    margin-top: 40px;
    width: 488px;
    height: 75px;
    

}
.loc2 button{
    padding: 7PX 40PX ;
    margin: 5px;
    color:#ffffff;
    background-color:rgb(209, 124, 13);
    font-size: 18px;
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .5px;
    border: 1px solid rgb(245, 141, 6);
    margin-top: 143px;
 
}
.loc{
    align-items: center;
}
.loc2 button span:hover{
    color: #F1F2F2;
    font-size: 16px;
}

/* end */
.person{
    margin-top: 153px;
display: flex;
flex-direction: column;




    
}
.person1 img{
    max-width: 369px;
    margin-right: 19px;
}
/* end */
.main_menu_reivew{
    /* width: 1280px;  */
     height: 800px;
    
}
.review{
    display: flex;
    align-items: center;
    justify-content: center;
}
.review h1{
    font-size: 68px;
    color: #000;
    align-items: center;
    letter-spacing: 0.5px;
    font-weight: bold;
    line-height: 1.6;
    margin-top: 40px;
    /* margin-left: 200px; */
    font-family: 'Edu VIC WA NT Beginner', cursive;

}
.review1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    /* margin-left: 160px;  */
    margin-top: 50px;

}
.review1 .rev1{
    width: 383px;
    height: 205.19px;
    background-color: #F1F2F2;

    
}
.review1 .rev1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #000;
    opacity: 100%;
    /* width: 292px; */
    /* height: 104px; */
    text-align: center;
    padding: 26px 45.5px  64px 45.5px;
    /* margin-left: 20px;
    margin-top: 20px; */

}
.review1 .rev1 h1{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.5px;
    color: #000;
    opacity: 100%;
margin-left: 20px;
margin-top: 30px; 
display: flex;
align-items: center;
justify-content: center;


}
.review1 .rev1 button{
    padding: 7PX 40PX ;
    margin: 5px;
    color:#ffffff;
    background-color:#C15D26;
    font-size: 20px;
    line-height: 1.6;
    font-weight: bold;
    letter-spacing: .5px;
    border: 1px solid rgb(245, 141, 6);
    margin-left: 40px;
/* margin-top: 100px;  */


}
.review1 .rev1 button:hover{
    background-color: #7A0306;
}
.follow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow1 h1{
    font-size: 48px;
    letter-spacing: .5px;
    line-height: 1.6;
    font-weight: bold;
    color: #000;
    font-family: cursive;
    text-align: center;

}
.follow1 p{
    font-size: 18px;
    width: 410px;height: 59px;
    align-items: center;
    color: #000;
    font-weight: 400;
    letter-spacing: .9px;
    line-height: 1.9;
    text-align: center;

}
.follow1 h4{
    font-size: 18px;    letter-spacing: .5px;
    line-height: 1.6;
    font-weight: bold;
    color: #C15D26;
    margin-top: 10px;
    text-align: center;


}
.NOimage{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 360px;
   
}
.content-wraper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px ;
}

.Noimage1 span i{
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: rgb(203, 230, 238);
    margin-right: 36px;
    margin-top: 20px;
    padding-top: 120px;
    font-size: 50px;
    color: #F1F2F2;
    

}
.Noimage1 span i:hover{
    border: 2px solid blue;
}
.main_menu_order{
    width: 100%;
}
.main_order{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13PX;
}
.order1{
    background-color: #1F2D60;
    width: 423px;
    height: 506px;
    text-align: center;
    
}
.order1 h1{
    /* width: 127px; */
    height: 93px;
    font-size: 58px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: bold;
    margin-top: 145px;
    color: #F1F2F2;
    font-family: 'Mrs Saint Delafield', cursive;

}
.order1 p{
    font-size: 18px;
    letter-spacing: .5px;
    line-height: 2.9;
    margin: 5px;
    height: 17px;
    /* width: 270px; */
    color: #F1F2F2;
}
.order1 hr{
    width: 200px;
    margin-top: 50px;
    text-align: center;
    margin-left: 90px;
}
.order2{
    background-image: url(./arthur-savary-MTI8v_qPaH0-unsplash.png);
    width: 423px;
    height: 506px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 5px;
    padding-left: 6px;
    text-align: center;
    background-color: rgba(54, 50, 50, 0.74);
    opacity: 1;
   
}
.order2 h1{
    height: 93px;
    font-size: 58px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: 800;
    margin-top: 145px;
    flex-wrap: nowrap;
    color: #F1F2F2;
    font-family: 'Mrs Saint Delafield', cursive; 
}
.order2 ul{
    list-style-type: none;
}
.order2 ul li{
    font-size: 20px;
    /* height: 300px; */
    color: #F1F2F2;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: .5px;
    
}
.order3{
    background-color: #1F2D60;
    width: 423px;
    height: 506px;
    text-align: center; 
}
.order3 h1{
    height: 93px;
    font-size: 58px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: bolder;
    margin-top: 148px;
    flex-wrap: nowrap;
    color: #F1F2F2;
    font-family: 'Mrs Saint Delafield', cursive; 

}
.order3 p{
    font-size: 18px;
    color: #ffffff;
    height: 17px;
    text-align: center;
    line-height: 1.2;
    letter-spacing: .5px;
}
.order3 h2{
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    font-weight: bolder;
    margin-top: 25px;
    flex-wrap: nowrap;
    color: #F1F2F2;
   
}
.order3 hr{
    width: 200px;
    margin-left: 85px;
    margin-top: 5px;
    color: #C15D26;
    height: 3px;
}

.main_menu_rewards{
    max-width: 1200px;
    height: 526px;
    background-color: #1F2D60;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #F1F2F2;
}
.rewards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rewards1{
    margin-top: 30px;
    margin-left: 125px;
}
.rewards1 p{
    width: 324px;
    height: 45px;
    font-size: 14px;
    color: #F1F2F2;
    opacity: 100%;
    letter-spacing: .5px;
    line-height: 1.7;
    font-weight: 400;
    margin-top: 32px;
    margin-left: 42px;
}
.rewards1 i{
    width: 41.7px;
    height: 41.74px;
    color: #C15D26;
    opacity: 100%;
    margin-right: 16px;
    margin-top: 32px;
    margin-left: 30px;
    font-size: 55px;
}
.rewards1 span{
    margin-left: 0px;
}
.rewards2{
    width: 160px;
    height: 362px;
    margin-top: 60px;
    margin-right: 10px;
}
.rewards2 h1{
    font-size: 14px;
    color: #62B2C6;
    opacity: 100%;
    text-align: left;
    line-height: 45px;
    letter-spacing: .5px;
    margin-bottom: 5px;
}
.rewards2 ul{
    list-style-type: none;
}
.rewards2 ul li{
    /* width: 160px;
    height: 362px; */
    font-size: 18px;
    color: #F1F2F2;
    opacity: 100%;
    text-align: left;
    line-height: 1.6;

}
.rewards2 ul li:hover{
    color: #7A0306;
}
.rewards3{
    margin-top: 31px;
    /* margin-right: 109px; */
    margin-bottom: 80px;
    padding-left: 20px;

}
.rewards3 h1{
    font-size: 28px;
    text-align: left;
    color: #F1F2F2;
    line-height: 1.2;
    letter-spacing: .5px;
    margin-bottom: 15px;
    
}
.rewards3 label{
    font-size: 12px;
    color: #F1F2F2;
    width: 160px;
    height: 24px;
    padding-top: 15px;
}
.rewards3 input{
    width: 350px;
    height: 39px;
    padding: 4px;
    color: #121313;
    margin-top: 10px;
}
.rewards button{
    padding: 10PX 60PX ;
    margin: 5px;
    color:#ffffff;
    font-size: 20px;
    line-height: 1.6;
    background-color: #1F2D60;
    font-weight: bold;
    letter-spacing: .5px;
    border: 2px solid #C15D26;
    margin-top: 15px;
}
.rewards button:hover{
    color: #F1F2F2;
}

/* end */
.footer{
    width: 1180px;
    height: 82px;
    background-color: #1F2D60;
    margin-left: 20px;
    margin-right: 50px;
}
.footer1{
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.footer1 p{
    width: 623px;
    height: 28px;
    font-size: 10px;
    color: #F1F2F2;
    line-height: 1.2;
    letter-spacing: .5px;
    text-align: center;
    margin-left: 205px;
    padding-top: 20px;
    margin-top: 10px;
}
















